# Лабораторная работа 1. Введение в машинное обучение. Обучение с учителем. Задача регрессии

<b>Выполните следующие задания:</b>
- загрузите датасет для регрессии, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку;
- решите задачу регрессии на ваших данных с использованием моделей sklearn (линейная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;
- решите задачу регрессии на ваших данных с использованием моделей sklearn (полиномиальная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;
- вычислите значения метрик $R^2$, MAE, MSE, RMSE, MAPE для всех обученных моделей; выберите лучшую модель;
- самостоятельно реализуйте (желательно в виде класса) модель линейной регрессии с регуляризацией (можете выбрать L1 или L2);
- самостоятельно реализуйте вычисление всех используемых метрик (в виде функций, принимающих два аргумента);
- обучите вашу модель линейной регрессии на ваших данных; оцените качество с помощью реализованных вами метрик.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt
from sklearn.preprocessing import PolynomialFeatures
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../data/mumbai_houses_task.csv')
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,New Property,2.0,NaN,2.0,Flat
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,Resale,0.0,Semi-Furnished,0.0,Flat
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,Resale,1.0,Unfurnished,1.0,Flat
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,Flat
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,Resale,0.0,Furnished,0.0,Flat
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,Flat

## Предобработка данных

In [3]:
#подсчитываем количество пропущенных значений в столбцах
data.isnull().sum()

price                  0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony                0
Status               481
neworold               0
parking                0
Furnished_status    2655
Lift                   0
type_of_building       0
dtype: int64

In [4]:
#смотрим названия всех колонок
data.columns.values.tolist()

['price',
 'area',
 'latitude',
 'longitude',
 'Bedrooms',
 'Bathrooms',
 'Balcony',
 'Status',
 'neworold',
 'parking',
 'Furnished_status',
 'Lift',
 'type_of_building']

In [5]:
# значения в колонке "Status"
data["Status"].value_counts()

Status
Ready to Move         5771
Under Construction       3
Name: count, dtype: int64

In [6]:
# значения в колонке "neworold"
data["neworold"].value_counts()

neworold
Resale          5515
New Property     740
Name: count, dtype: int64

In [7]:
# значения в колонке "type_of_building"
data["type_of_building"].value_counts()

type_of_building
Flat                5828
Individual House     427
Name: count, dtype: int64

In [8]:
# one-hot кодирование категориального признака
data = pd.get_dummies(data, columns=['type_of_building'], drop_first=True, dtype=int)
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,New Property,0.0,NaN,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,New Property,2.0,NaN,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,Resale,0.0,Semi-Furnished,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,Resale,1.0,Unfurnished,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,Resale,0.0,Furnished,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,0

In [9]:
#поменяем строчные данные на числовые
data["neworold"] = data["neworold"].map({"Resale": 0, "New Property": 1})
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,1,0.0,NaN,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,1,0.0,NaN,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,1,0.0,NaN,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,1,2.0,NaN,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,Unfurnished,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,0,0.0,Semi-Furnished,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,0,1.0,Unfurnished,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,0,0.0,NaN,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,0,0.0,Furnished,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,0,0.0,NaN,0.0,0

In [10]:
# значения в колонке "neworold"
data["neworold"].value_counts()

neworold
0    5515
1     740
Name: count, dtype: int64

In [11]:
# значения в колонке "Furnished_status"
data["Furnished_status"].value_counts()

Furnished_status
Unfurnished       1384
Semi-Furnished    1195
Furnished         1021
Name: count, dtype: int64

In [12]:
#поменяем строчные данные на числовые
data["Furnished_status"] = data["Furnished_status"].map({"Unfurnished": 0, "Semi-Furnished": 1, "Furnished": 2})
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,1,0.0,NaN,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,1,0.0,NaN,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,1,0.0,NaN,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,1,2.0,NaN,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,0,0.0,NaN,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,0,0.0,NaN,0.0,0

In [13]:
# Заполним пропущенные значения средними по столбцу
data["Furnished_status"] = data["Furnished_status"].fillna(data["Furnished_status"].median())
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0

In [14]:
#поменяем строчные данные на числовые
data["Status"] = data["Status"].map({"Ready to Move": 1, "Under Construction": 0})
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [15]:
# Заполним пропущенные значения средними по столбцу
data["Status"] = data["Status"].fillna(data["Status"].median())
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [16]:
# удалbv строки, где остались пропущенные значения
data = data.dropna()
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [17]:
# удалим дубликаты строк во всех столбцах
data.drop_duplicates(inplace=True)
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [18]:
# красиво переименуем все столбцы
data.rename(mapper=str.lower, axis=1, inplace=True)
data

,price,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [19]:
# проверим не осталось ли пропущенных значений
data.isnull().sum()

price                                0
area                                 0
latitude                             0
longitude                            0
bedrooms                             0
bathrooms                            0
balcony                              0
status                               0
neworold                             0
parking                              0
furnished_status                     0
lift                                 0
type_of_building_individual house    0
dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6238 entries, 0 to 6254
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   price                              6238 non-null   float64
 1   area                               6238 non-null   float64
 2   latitude                           6238 non-null   float64
 3   longitude                          6238 non-null   float64
 4   bedrooms                           6238 non-null   float64
 5   bathrooms                          6238 non-null   float64
 6   balcony                            6238 non-null   float64
 7   status                             6238 non-null   float64
 8   neworold                           6238 non-null   int64
 9   parking                            6238 non-null   float64
 10  furnished_status                   6238 non-null   float64
 11  lift                               6238 non-null   float64
 12  type_of_building_individual house  6238 non-null   int32
dtypes: float64(11), int32(1), int64(1)
memory usage: 657.9 KB

In [21]:
#приведем все данные к типу float
data = data.astype({'neworold': float, 'type_of_building_individual house': float})

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6238 entries, 0 to 6254
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   price                              6238 non-null   float64
 1   area                               6238 non-null   float64
 2   latitude                           6238 non-null   float64
 3   longitude                          6238 non-null   float64
 4   bedrooms                           6238 non-null   float64
 5   bathrooms                          6238 non-null   float64
 6   balcony                            6238 non-null   float64
 7   status                             6238 non-null   float64
 8   neworold                           6238 non-null   float64
 9   parking                            6238 non-null   float64
 10  furnished_status                   6238 non-null   float64
 11  lift                               6238 non-null   float64
 12  type_of_building_individual house  6238 non-null   float64
dtypes: float64(13)
memory usage: 682.3 KB

In [23]:
# сохраним предобработанные данные
data.to_csv("../data/mumbai.csv")

### Вычисление метрик

In [24]:
def metrics(y_test, y_pred):
    print(f'MAE: {np.mean(abs(y_test-y_pred))}')  #средняя абсолютная ошибка
    print(f'MSE: {np.mean(np.square(y_test-y_pred))}') #средняя квадратичная ошибка
    print(f'RMSE: {np.sqrt(np.mean(np.square(y_test-y_pred)))}') #корень из средней квадратичной ошибки
    print(f'MAPE: {sqrt(np.sum(np.abs(y_test - y_pred)/y_test)/np.size(y_test))}') # средняя абсолютная ошибка в процентах
    slope, intercept = np.polyfit(y_test, y_pred, 1)
    r_squared = 1 - (sum((y_pred - (slope * y_test + intercept))**2) / ((len(y_pred) - 1) * np.var(y_pred, ddof=1)))
    print(f'R^2: {r_squared}') # коэффициент детерминации

### Выделение целевого признака и предикторов

In [25]:
y = data["price"]  #целевой признак
X = data.drop(["price"], axis=1) #предикторы

In [26]:
X

,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,0.0
4,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6250,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
6251,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
6252,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
6253,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0
6254,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [27]:
y

0       22400000.0
1       35000000.0
2       31700000.0
3       18700000.0
4       13500000.0
           ...
6250    19500000.0
6251    22000000.0
6252    20000000.0
6253    11000000.0
6254    15000000.0
Name: price, Length: 6238, dtype: float64

### Разделение данных на обучающую и тестовую выборки

In [28]:
# функция из sklearn для разбиения данных на обучающую и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=59)
#shuffle = False

In [29]:
X_train

,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
257,1250.0,19.212571,72.873522,3.0,3.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
5364,700.0,19.085650,72.908220,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5165,800.0,19.198821,72.870106,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4053,980.0,19.100530,72.911665,3.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5808,870.0,18.968870,72.808820,2.0,2.0,1.0,1.0,0.0,1.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3900,1100.0,19.200165,72.868551,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1389,660.0,19.309393,72.848594,2.0,2.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0
664,840.0,19.211035,72.862365,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5339,1600.0,18.963299,72.843292,3.0,4.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0
4281,1272.0,19.183819,72.861116,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [30]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape #размерности

((5614, 12), (5614,), (624, 12), (624,))

### Линейная регрессия (Linear Regression)

Линейная регрессия - это вычисление $\hat{y}$ по формуле: $\hat{y}_i=\sum_{j=1}^{n}{{w_{j}}{X_{ij}}}$.

$w$ - веса

в процессе обучения <b>подбираются (модель самостоятельно это делает) такие значения параметров $w$, которые позволят получать очень близкие к истинным значения.

Функция потерь
$L=\frac{1}{m}[y-(\sum_{j=1}^{n}{{w_{j}}{X_{ij}}})]^2$

Ее нужно минимизировать

Обучение модели на обучающей выборке

In [31]:
lr = LinearRegression().fit(X_train, y_train)

In [32]:
lr.predict(X_test)

array([ 4.61338494e+07,  1.63890755e+07,  2.02771663e+07,  4.81626288e+07,
        9.21089449e+07,  1.03036262e+07,  5.09277538e+06, -1.57174496e+06,
        2.15087305e+07, -6.98600574e+06,  2.93019953e+07,  2.44210162e+07,
        8.41362534e+06,  2.42821431e+07,  4.65412048e+07,  2.04208539e+07,
        1.84405304e+07,  1.99615401e+07,  1.12137177e+07,  2.51789110e+07,
        1.74161584e+07,  1.84196106e+07, -4.88101894e+06,  2.10553106e+07,
        2.99639777e+07,  2.46528490e+07,  1.44621480e+07,  6.54601193e+06,
        9.31609740e+06,  2.88760770e+07,  3.84663541e+07,  1.30766455e+07,
        2.25752763e+07,  4.42592209e+07,  1.22601338e+07,  2.32650710e+07,
        3.73797635e+07,  2.47692077e+07,  2.31966723e+07,  4.85768732e+07,
        1.95766438e+04,  1.98590070e+07,  3.46602119e+07,  2.52750064e+07,
        7.54607676e+07,  8.21151267e+06,  7.47449468e+07, -1.20426413e+06,
        3.84434192e+07,  5.73093415e+07,  1.71903792e+07,  5.40752512e+07,
        8.60803755e+06,  1.94262218e+07,  1.10594291e+07,  4.04427191e+07,
        9.26205353e+07,  1.93957392e+07,  1.61356334e+07,  2.21220928e+07,
        4.38774884e+06,  1.17332013e+06,  7.01935583e+06,  3.28781264e+06,
        1.95537059e+07,  2.34715354e+07,  4.13843108e+07,  3.01331648e+07,
        1.93931019e+07,  2.62315106e+07,  3.88240607e+07,  1.74717908e+07,
        2.38728164e+07,  4.82607459e+06,  2.55613091e+07,  1.89730784e+07,
        2.32041860e+07,  5.40228659e+06,  2.61348682e+07,  1.87038807e+07,
        1.86131510e+07,  4.17220109e+07,  1.95159144e+07,  3.52105153e+07,
        1.57382051e+07, -9.64113798e+06,  2.65673499e+07,  9.49300347e+05,
        6.34678588e+06,  3.33615248e+07,  5.32292061e+07,  5.90215370e+07,
        2.52618235e+07,  7.62368318e+06,  3.18949215e+07,  7.73157657e+06,
        2.33230345e+07,  7.79170700e+06,  1.68142145e+07,  2.75829382e+07,
        3.54802520e+07,  1.98404680e+07,  2.04758732e+07,  3.49603769e+06,
        5.92125577e+06,  1.52739557e+07,  3.54093019e+06,  1.90086216e+07,
        3.79492481e+07,  2.03935196e+07,  5.72745123e+07,  5.57547573e+06,
        1.40614536e+08,  1.05045797e+07,  4.94278063e+07,  2.35540155e+07,
        3.07503751e+07,  2.81053895e+07,  4.36223277e+07, -1.03986580e+06,
        5.29932746e+07,  3.00190637e+07,  6.92135267e+07,  1.34845242e+07,
        7.19652389e+06,  3.01934307e+07,  1.99844398e+07,  2.19525181e+07,
        1.35644169e+07,  3.56613658e+07,  4.04280915e+07,  6.07352879e+06,
        3.38961029e+07,  2.29832285e+07,  1.44504915e+07,  3.77649786e+06,
        3.28448985e+07,  1.06397532e+08,  4.09633893e+07,  3.83519705e+07,
        2.07565592e+07,  1.78941580e+07,  1.20154916e+07,  1.79051459e+07,
        2.43946654e+07,  2.70995857e+07,  2.82321607e+07,  2.95188051e+07,
        2.97466406e+07, -6.45502679e+06,  2.52513541e+07,  2.42909929e+07,
        2.97044175e+07,  8.79876407e+06,  6.59740536e+07,  2.76277209e+07,
        2.36188362e+07,  2.63625713e+07,  1.72408068e+07,  1.88377381e+07,
        5.11095111e+07,  7.89264286e+07,  6.12948673e+05,  2.38669467e+07,
        3.06856246e+07,  5.47028813e+07,  8.96698884e+06,  6.62373825e+07,
       -2.88018150e+06,  4.59269874e+07,  2.25431686e+07,  1.24084517e+07,
        2.18094806e+07,  3.13807440e+07,  2.62042426e+06,  1.88445210e+07,
        2.71834356e+07,  4.61453159e+07,  2.15472540e+07,  8.39437035e+06,
        1.57767317e+07,  7.97614759e+06,  6.01460779e+07, -9.84043098e+05,
        1.54412344e+07,  2.37753979e+07,  8.93779706e+07,  7.09018860e+06,
        2.74398962e+07,  1.15468209e+07,  4.13963565e+07,  1.45969116e+07,
        2.04622375e+07,  2.22532174e+07,  3.71657021e+07,  1.55931448e+07,
        3.63557125e+07,  4.39941870e+05,  3.64066868e+07,  4.48202981e+07,
        9.32534556e+05,  2.37853797e+07,  4.09456501e+07,  3.22830683e+07,
        2.44275029e+07,  3.89586061e+07,  1.47350028e+07,  4.15918117e+07,
        2.67166978e+07,  1.54889893e+07,  9.07795526e+06,  1.64963174e+07,
        2.19651831e+07,  3.18629363e+07,  2.88493146e+07,  1.75023085e+07,
        1.66142098e+07,  2.74691453e+07,  1.08593106e+07,  1.32115762e+07,
        1.43549561e+07,  2.24919101e+07,  3.22867096e+07,  4.21007976e+07,
        1.96334340e+07,  1.70532074e+07,  3.47196050e+07,  1.76372237e+07,
        2.69793288e+07,  2.22066114e+07,  4.32673564e+07,  7.75531475e+05,
        2.77267218e+07,  1.83531474e+07,  2.51286766e+07,  6.44463118e+07,
        1.80251012e+07,  8.40637260e+07,  1.19064924e+07,  3.78213175e+07,
        1.77588311e+08, -1.01117704e+07,  2.22604767e+07,  2.72016713e+07,
        1.36330110e+07,  2.40919846e+06,  4.27555905e+07,  7.69950536e+06,
        3.91162563e+07,  5.10293764e+07,  6.21413223e+07,  2.57633816e+07,
        2.94822095e+07,  4.06799662e+07,  2.35183104e+07, -6.68556711e+06,
       -1.66132624e+07,  3.78083631e+07, -3.23831484e+06,  3.73965129e+07,
        1.31020377e+07,  2.19582844e+07,  3.85156847e+07,  1.57446312e+07,
        4.13773719e+07,  1.46042528e+07,  5.50737139e+07,  1.57506285e+08,
        2.31236896e+07,  5.84963083e+04,  1.65146769e+06,  4.09884558e+07,
        3.44571643e+07,  7.09145508e+06,  1.16214056e+07,  8.47736968e+07,
        6.78099329e+07,  6.43517248e+07,  1.89649634e+07,  3.26485440e+07,
        3.99822080e+06,  2.53136609e+07,  1.90459014e+07,  2.20277296e+06,
       -1.06394335e+07,  2.19580833e+07,  2.42578756e+07,  4.89691056e+07,
        1.18272091e+07,  3.80208034e+07,  1.54971069e+07,  4.13236590e+07,
        2.08299204e+07,  4.58067456e+07,  5.50673985e+06, -6.57922943e+06,
        8.59242567e+07,  3.64310324e+07,  2.04832402e+07,  3.28487662e+07,
        2.69655245e+07,  5.02686878e+07,  2.93357449e+07,  3.46830481e+07,
        1.51538645e+07,  4.49676320e+06, -1.60252239e+06,  8.72972740e+07,
        4.17940114e+07,  1.90477006e+07,  2.77818252e+07,  3.47811580e+07,
        1.65701701e+07,  2.01158572e+07,  1.79590690e+07,  9.84850054e+06,
        1.96722367e+07,  1.90830896e+08,  4.93877176e+06,  5.69125950e+07,
        1.60515232e+07,  5.04209282e+07,  1.98851918e+07,  1.25924396e+07,
        3.92625882e+07,  4.10310958e+06,  1.45801773e+07,  3.01082639e+06,
        4.69056385e+07,  4.84316611e+07,  5.09685255e+07,  2.33416459e+07,
        1.43411923e+07,  2.19387903e+07,  6.44685543e+07,  3.73103266e+07,
        2.90459792e+07,  5.14176409e+07,  1.35262734e+07,  1.72951836e+07,
        1.11301975e+07,  3.62756785e+07,  2.89009488e+07,  2.99107265e+07,
        3.55133808e+07,  5.37292160e+06,  2.51551189e+07,  7.23564344e+06,
        1.56839102e+07, -2.28717827e+06,  1.22150447e+07,  2.49822630e+07,
        7.58664354e+06,  5.01011967e+07,  2.85247574e+07,  8.74592096e+07,
        1.77297630e+07,  1.59687059e+07,  2.31041371e+07,  5.90115204e+07,
        8.06540615e+06,  1.82419545e+07,  5.49824013e+07,  2.28803068e+07,
        1.84974784e+07,  5.43265419e+07,  2.23161258e+07,  3.38241352e+07,
        1.24737378e+07,  6.29745404e+07,  2.18126376e+07,  2.23659020e+07,
        2.54253252e+07,  3.70358226e+07,  3.30896057e+07,  2.67076916e+07,
        3.51149235e+07,  2.10843623e+07,  3.18019260e+07,  8.11286143e+06,
        9.66411532e+07,  1.78959632e+07,  1.85445850e+07,  2.22548056e+07,
        4.61552368e+07,  2.67068847e+07,  2.01382955e+07,  1.64056127e+07,
        2.67950778e+07,  1.28725348e+07,  6.79022420e+06,  6.75433473e+07,
        5.98670334e+06,  1.24737378e+07,  1.49990702e+07,  3.38330061e+07,
        4.11617259e+07,  9.13628349e+06,  6.81445961e+07,  4.25992662e+07,
        8.32663998e+06,  2.64502457e+07,  3.37453856e+07,  2.48577619e+07,
        3.98130076e+07,  5.13596414e+07,  1.82398255e+07,  4.46859586e+07,
        1.71530489e+07,  2.08194506e+07,  1.43406725e+07,  6.34719543e+07,
        1.14221167e+08,  2.22806854e+07,  2.28033589e+07,  2.25409416e+06,
        3.00489380e+07,  2.96573154e+07,  2.67206189e+07,  1.61620418e+07,
        2.77572808e+07,  6.20220130e+07,  2.42133002e+07,  1.16030336e+07,
        1.24127140e+07,  2.30697471e+07,  1.78377338e+07,  4.72472636e+07,
        1.10507530e+07,  1.37126339e+07,  5.72281097e+07,  4.04275861e+07,
        3.85085041e+07,  1.24396661e+07,  9.72273960e+06, -5.81480974e+06,
        3.35653899e+07,  3.65767447e+07,  1.89130968e+07,  5.70913674e+06,
        1.27167527e+07,  6.55581356e+05,  2.91209221e+07,  3.27308619e+07,
        2.86031868e+07,  1.33183240e+07,  3.68265124e+07,  3.34586828e+07,
        2.03625191e+07,  8.60133557e+06,  2.44043231e+07,  2.22214733e+07,
        4.79640443e+07,  5.81403569e+07,  1.97594729e+07,  3.72408913e+07,
        3.19251376e+07,  1.42257394e+07,  2.46601847e+07,  2.82743349e+07,
        6.43170929e+07,  1.78871314e+07,  2.27947530e+07, -1.17826920e+07,
        3.79027139e+07,  4.01475112e+07,  1.83387042e+07,  3.94070542e+07,
        3.98115570e+07,  2.99769703e+07,  2.94144192e+07,  3.59164759e+06,
        1.09500610e+07,  4.11906562e+07,  3.06998359e+07,  4.44200118e+06,
       -2.85244266e+06,  3.64446299e+07, -4.75550595e+05,  2.27621164e+07,
        2.88945358e+07,  3.66414185e+07,  2.99823984e+07,  1.44676860e+07,
        3.27122556e+07,  2.09062358e+07, -4.34149280e+06,  2.00100989e+07,
        1.23409678e+07,  2.52358437e+07,  2.11518605e+07,  1.97598272e+07,
        3.70877365e+07, -3.61037870e+06,  2.33809171e+07,  2.29316011e+07,
        2.02026228e+07,  1.71491260e+07,  1.72327966e+07,  2.95456504e+07,
        4.12322308e+07,  3.23910755e+07,  3.54792864e+07,  2.29309627e+07,
        1.92140135e+07,  1.48442176e+07,  8.25387289e+07,  8.63637729e+07,
        3.37725778e+07, -4.10605048e+06,  1.50834536e+07,  1.51871165e+07,
        1.80985239e+07,  2.04745079e+07,  1.89107585e+07,  2.45651077e+07,
       -1.64220036e+06, -1.43505141e+06,  1.96056262e+07,  1.19252197e+07,
        2.93211712e+07,  7.81681559e+06, -5.56409869e+06,  1.01246418e+07,
        1.99494626e+07,  7.00802308e+06,  5.53214216e+07,  1.54586894e+07,
        2.79434205e+07,  2.20991540e+07,  8.62249845e+07,  4.40343531e+07,
        2.73914400e+07,  7.14540707e+06,  1.92422431e+07,  1.72290974e+07,
        1.05435608e+07,  2.63812445e+07,  1.83373855e+07,  4.45964767e+07,
        6.32711856e+07,  1.90109149e+07,  3.53157205e+07, -1.48719935e+06,
        3.94508644e+07,  4.20257107e+06,  9.18354039e+07,  1.21177011e+07,
        6.90623592e+07,  4.70048547e+07,  3.63242118e+07,  9.73687923e+06,
       -3.63146490e+06,  2.03904490e+07,  4.11267420e+07,  3.95684687e+07,
        4.56333791e+07,  3.68925825e+07,  1.67764715e+07,  4.67207944e+07,
       -4.43184860e+06,  6.19640610e+07,  1.70539227e+07,  6.49266791e+07,
        1.91921340e+07,  2.11300384e+08,  7.68672749e+07,  7.65533530e+07,
        1.17061895e+07,  2.80728951e+07,  8.00771942e+06,  3.17063383e+05,
        2.69661959e+07,  7.71521747e+06,  2.57758705e+07,  2.37899905e+07,
        3.34163141e+06,  1.16174814e+07,  1.76475474e+07,  1.02741353e+08,
       -7.93278227e+06,  2.68630402e+07,  2.46281645e+07, -8.05799262e+06,
        3.72039517e+07,  9.86163327e+07,  1.66811681e+07,  1.93265954e+07,
        4.13969339e+07,  1.65352184e+07,  5.12661748e+07,  2.32938799e+07,
       -2.44962751e+06,  4.31790717e+07,  2.64257274e+07,  3.53320457e+07,
        5.98789345e+07,  1.49751363e+07,  2.45946474e+07,  2.00582571e+07,
        1.94877836e+07,  2.19233219e+07,  2.36642218e+07,  7.40696984e+06,
        3.64479181e+07,  1.53026565e+07,  4.53448159e+07,  4.49191016e+07,
        3.66056600e+07,  3.27443978e+07,  5.33893048e+07,  2.88671607e+07,
        2.36474183e+07,  1.81729176e+07,  5.34833333e+06,  3.41915445e+07,
        9.80036512e+06,  1.93675598e+07,  2.98910511e+07,  1.18005683e+07,
        2.60692719e+07, -1.94955657e+06,  5.48610675e+07,  1.20960071e+07])

Получение предсказания для тестовой выборки

In [33]:
y_pred = lr.predict(X_test)

In [34]:
# посмотрим метрики
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr.score(X_test, y_test)}')

MAE: 8914245.88432459
MSE: 204629615466344.7
RMSE: 14304880.826708928
MAPE: 0.71255546195285
R^2: 0.7643676620376749

In [35]:
#сравним с теми, что реализованы мной
metrics(y_test, y_pred)

MAE: 8914245.88432459
MSE: 204629615466344.7
RMSE: 14304880.826708928
MAPE: 0.71255546195285
R^2: 0.7684808830678711

In [36]:
len(lr.coef_) # коэффициенты в модели (значения весов)
lr.coef_

array([ 2.05863652e+04, -8.25866290e+07, -7.40326266e+07,  4.46742549e+05,
        8.19390151e+06, -4.40704955e+03, -3.63767811e+06,  2.71521099e+04,
       -4.40704955e+03,  1.88823120e+06, -4.40704955e+03, -2.07034000e+05])

#### Регуляризации

Для борьбы с переобучением накладываем дополнительные ограничения на значения переменных (весов), неявное ограничение добавляется непосредственно в целевую функцию.
Ridge и Lasso отличаются только функцией потерь

функция потерь минимизируется, поэтому посредством регуляризации мы стремимся не допускать, чтобы значениями переменных были большие числа (более того, некоторые веса станут равны 0, что в будущем позволит говорить о низкой значимости соответствующего предиктора). Параметр  𝛼
  определяет интенсивность регуляризации. Он принимает значения от 0 до 1 включительно. При  𝛼
 =0 получается линейная регрессия без регуляризации.

### L1  (Ridge)
$L=\frac{1}{m}[y-(\sum_{j=1}^{n}{{w_{j}}{X_{ij}}})]^2+\frac{1}{m}\alpha{\sum_{j=1}^n{|w_j|}}$.

In [37]:
ridge = Ridge(alpha=0.5).fit(X_train, y_train)
y_pred = ridge.predict(X_test)

#метрики, в которых есть слово "ошибка", мы хотим уменьшить. 
#А коэффициент детерминации - наоборот увеличить (он кстати принимает значения от 0 до 1 включительно).
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')
ridge.coef_

MAE: 8888365.587432252
MSE: 204544216271599.12
RMSE: 14301895.548199166
MAPE: 0.7094091949909705
R^2: 0.7644659997678815

array([ 2.06035232e+04, -8.18814910e+07, -7.20966573e+07,  4.36216178e+05,
        8.22111017e+06, -8.02644411e+03, -3.12973205e+06,  2.67199301e+04,
       -8.02644412e+03,  1.90379807e+06, -8.02644412e+03, -2.20197601e+05])

#### Подбор оптимального значения гиперпараметра

In [38]:
#формируем словарь (ключи-названия гиперпараметров, значения - список (массив numpy) c возможными значениями)
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [39]:
# подбор значения с помощью GridSearchCV (перебирает все возможные варианты)
ridge_optimal = GridSearchCV(Ridge(), parameters).fit(X_train, y_train)
# выводим оптимальное значение параметра
ridge_optimal.best_params_

{'alpha': 0.1}

In [40]:
# подбор значения с помощью RandomizedSearchCV (перебирает только случайные варианты)
ridge_optimal = RandomizedSearchCV(Ridge(), parameters).fit(X_train, y_train)
# выводим оптимальное значение параметра
ridge_optimal.best_params_

{'alpha': 0.1}

### L2 (Lasso)
 $L=\frac{1}{m}[y-(\sum_{j=1}^{n}{{w_{j}}{X_{ij}}})]^2+\frac{1}{m}\alpha{\sum_{j=1}^n{w_j^2}}$.

In [41]:
lasso = Lasso(alpha=0.1).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')
lasso.coef_

MAE: 8914245.517658576
MSE: 204629613238455.03
RMSE: 14304880.748837266
MAPE: 0.7125554175391399
R^2: 0.7643676646031045

array([ 2.05863656e+04, -8.25866202e+07, -7.40325962e+07,  4.46742299e+05,
        8.19390170e+06, -4.01349657e+04, -3.63749126e+06,  2.71518844e+04,
        1.79892737e+02,  1.88823115e+06,  2.67336781e+04, -2.07032779e+05])

#### Подбор оптимального значения гиперпараметра

In [42]:
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [43]:
lasso_optimal = GridSearchCV(Lasso(), parameters).fit(X_train, y_train)
lasso_optimal.best_params_

{'alpha': 0.9}

### Полиномиальная регрессия

в случае полиномиальной регрессии модель подбирает коэффициенты в большом полиноме, в котором значения предикторов входят с более высокими степенями

Полиномиальная регрессия является частным случае линейной регрессии.

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=59)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((5614, 12), (5614,), (624, 12), (624,))

In [45]:
# создаем объект, который позволит расширить множество предикторов
p = PolynomialFeatures(2)
# добавляем новые предикторы
X_train=p.fit_transform(X_train)
X_test=p.fit_transform(X_test)
X_train.shape

(5614, 91)

In [46]:
lr2 = LinearRegression().fit(X_train, y_train)
lr2.coef_

array([-5.94781402e+02,  5.20524063e+06, -2.08817797e+10, -2.89965106e+10,
       -1.03534677e+09,  2.48822262e+09, -2.78830704e+06,  4.42906755e+08,
       -3.00269584e+08, -2.78852434e+06, -7.79126357e+07, -2.78837880e+06,
       -3.13013637e+08, -2.56352213e+00, -6.96748969e+04, -9.29377290e+04,
        3.06707330e+03,  1.39515314e+03,  2.48038126e+02,  2.91218762e+06,
       -6.25857094e+02,  3.24121492e+02,  1.07759940e+03,  5.03178395e+02,
        6.82642353e+03,  3.17816099e+07,  4.43823521e+08, -2.32114210e+06,
       -2.76532204e+07,  9.94429031e+05, -1.25963321e+10,  5.22853957e+06,
        9.94429047e+05, -7.65042115e+06,  9.94429596e+05,  1.17144768e+07,
        1.18434717e+08,  2.86412661e+07, -3.57582865e+07, -1.87787297e+05,
        3.25445402e+09,  4.91244014e+06, -1.87787237e+05, -1.96342808e+06,
       -1.87797602e+05,  9.77164957e+06, -1.03046468e+06,  6.85602408e+05,
       -1.75346942e+05, -1.00457741e+09,  2.17213498e+06, -1.75347306e+05,
        9.81371884e+04, -1.75347190e+05, -8.21813358e+05,  7.53382747e+05,
        3.19698452e+05,  6.40784313e+08, -1.61708615e+06,  3.19698841e+05,
        8.24532208e+05,  3.19698735e+05, -1.10464531e+06, -8.74671511e+04,
       -2.78838249e+06, -5.80468584e+03, -8.74647600e+04, -1.51490500e+05,
       -8.74660785e+04,  1.21682920e+05,  4.42906633e+08,  1.42637062e+08,
       -2.78838249e+06,  3.64993993e+08, -2.78838249e+06, -3.13013682e+08,
       -3.00269571e+08, -5.80452626e+03, -5.46011777e+05, -5.80486681e+03,
        5.00048145e+05, -8.74658995e+04, -1.51490377e+05, -8.74656609e+04,
        1.21682915e+05,  7.10943719e+05, -1.51490546e+05, -1.43171220e+06,
       -8.74694421e+04,  1.21682672e+05, -3.13013681e+08])

In [47]:
y_pred = lr2.predict(X_test)
y_pred

array([ 2.54513935e+07,  1.34102480e+07,  1.51748168e+07,  4.96698477e+07,
        1.21765468e+08,  1.30494513e+07,  1.16738843e+07,  6.63361375e+06,
        1.30532762e+07,  5.45992717e+06,  2.52587937e+07,  2.14696508e+07,
        1.36905474e+07,  2.33898163e+07,  4.45145264e+07,  1.66176517e+07,
        2.01418054e+07,  2.09838584e+07,  1.27651458e+07,  2.41632755e+07,
        1.78990638e+07,  1.70200732e+07,  8.04344473e+06,  1.49137825e+07,
        2.80569695e+07,  2.12235750e+07,  1.61753002e+07,  1.14075939e+07,
        1.08994566e+07,  2.29834865e+07,  3.46608535e+07,  1.31552163e+07,
        2.26457402e+07,  4.75031137e+07,  1.53691191e+07,  1.93742545e+07,
        2.51789440e+07,  2.34587708e+07,  2.29879106e+07,  5.16937885e+07,
        9.85739090e+06,  1.77075041e+07,  1.73874121e+07,  2.43305520e+07,
        9.06792980e+07,  1.18791711e+07,  9.14246270e+07,  5.37590906e+06,
        3.82080895e+07,  5.10521786e+07,  1.75426429e+07,  6.08308094e+07,
        1.25426105e+07,  1.64392593e+07,  8.81408639e+06,  3.36063875e+07,
        8.67756804e+07,  1.72677732e+07,  1.71257933e+07,  1.68044797e+07,
        1.08841354e+07,  1.65124256e+06,  1.28186387e+07,  1.08555626e+07,
        2.10292591e+07,  1.91497241e+07,  3.84657419e+07,  2.94136125e+07,
        1.87957683e+07,  2.20000704e+07,  3.69784489e+07,  1.53286655e+07,
        1.81557452e+07, -1.82017477e+06,  2.26451423e+07,  1.65660472e+07,
        2.36788653e+07,  1.21674335e+07,  2.35039171e+07,  1.15970831e+07,
        1.78083615e+07,  4.03582353e+07,  2.00209948e+07,  3.34556268e+07,
        1.78812461e+07,  1.31982988e+06,  2.56026446e+07,  8.31741670e+06,
        9.40902363e+06,  2.77424963e+07,  5.86996613e+07,  5.99889171e+07,
        2.38257595e+07,  1.12264235e+07,  2.85762462e+07,  1.08426365e+07,
        1.89760716e+07,  1.22969891e+07,  1.82626884e+07,  2.80691645e+07,
        3.56531572e+07,  1.68022885e+07,  1.78650829e+07,  9.07106789e+06,
        1.09665551e+07,  1.64860214e+07,  4.41249595e+06,  1.83340580e+07,
        3.42719706e+07,  1.48676823e+07,  6.67279461e+07,  9.87134510e+06,
        1.33819580e+08,  1.30449537e+07,  4.98921226e+07,  2.59660238e+07,
        2.88874863e+07,  2.54362331e+07,  3.77581672e+07,  1.04545037e+07,
        6.52924012e+07,  2.69109376e+07,  7.06022544e+07,  1.05290951e+07,
        1.18514029e+07,  2.30302151e+07,  8.70005286e+06,  1.66960793e+07,
        1.49369703e+07,  3.50869416e+07,  3.57654904e+07,  1.03665751e+07,
        1.94502573e+07,  2.35608773e+07,  1.72222075e+07,  7.20658782e+06,
        2.90532165e+07,  1.53182846e+08,  3.74659709e+07,  3.13340113e+07,
        2.19427008e+07,  1.46754765e+07,  1.31665915e+07,  1.39711363e+07,
        2.26154250e+07,  2.31519897e+07,  2.39063779e+07,  2.81225355e+07,
        2.42187607e+07,  1.04075535e+07,  2.02049116e+07,  1.90792923e+07,
        3.01149988e+07,  1.23120002e+07,  7.30792988e+07,  2.25529643e+07,
        1.91946043e+07,  2.62606869e+07,  1.84046224e+07,  2.02958771e+07,
        5.15458419e+07,  7.60427246e+07,  1.05697401e+07,  2.22909611e+07,
        2.84833597e+07,  6.12590268e+07,  4.08289022e+06,  5.08769529e+07,
        2.43639775e+06,  4.44155112e+07,  1.61782493e+07,  1.55901667e+07,
        2.18960791e+07,  2.50045907e+07,  1.03925425e+07,  1.87338755e+07,
        2.54016751e+07,  4.57051079e+07,  2.20592455e+07,  1.00689961e+07,
        1.38846712e+07,  1.26330670e+07,  5.71143495e+07,  6.27416551e+06,
        1.04961424e+07,  1.87666463e+07,  1.27384423e+08,  1.11314679e+07,
        2.44087048e+07,  1.56161902e+07,  4.10543291e+07,  1.59524297e+07,
        2.01401801e+07,  1.50414750e+07,  2.68203275e+07,  1.36612857e+07,
        3.05981247e+07,  7.82059577e+06,  3.12093833e+07,  3.62602980e+07,
        1.61185478e+06,  1.94446040e+07,  4.04556668e+07,  2.29458182e+07,
        1.62917827e+07,  3.39467729e+07,  1.38518901e+07,  3.57312019e+07,
        2.29444320e+07,  1.65922206e+07,  1.03728470e+07,  1.80225652e+07,
        1.64339263e+07,  3.17629379e+07,  2.70163844e+07,  9.24999518e+06,
        1.77339774e+07,  2.40732929e+07,  1.53827805e+07,  1.57339159e+07,
        1.63078532e+07,  2.19285403e+07,  2.65842065e+07,  4.68694510e+07,
        1.47142605e+07,  1.74093472e+07,  2.27090965e+07,  1.27149881e+07,
        2.27340550e+07,  1.92958151e+07,  4.52112039e+07,  1.01534712e+07,
        2.71250021e+07,  1.87026539e+07,  2.06672171e+07,  6.96246188e+07,
        1.30022986e+07,  1.06533833e+08,  1.23858418e+07,  3.01056439e+07,
        1.37768103e+08,  1.27904801e+06,  1.86199154e+07,  2.35664609e+07,
        1.43448592e+07,  3.44522602e+06,  3.29937892e+07,  1.08227449e+07,
        3.72628517e+07,  4.57804984e+07,  6.06974381e+07,  2.73373094e+07,
        2.58803321e+07,  3.98885931e+07,  1.66298578e+07,  2.08818453e+06,
        1.45990009e+07,  3.74617180e+07,  6.63779311e+06,  2.76618216e+07,
        1.31839620e+07,  1.65341940e+07,  2.92931108e+07,  1.70636986e+07,
        4.18710900e+07,  1.40282671e+07,  6.11316956e+07,  2.45452480e+08,
        1.94276720e+07,  5.45277729e+06,  3.08402155e+06,  4.41008608e+07,
        2.94745894e+07,  1.07932480e+07,  1.40818129e+07,  8.05834880e+07,
        8.93255692e+07,  8.36750558e+07,  2.00949735e+07,  3.08546623e+07,
        1.13589430e+07,  2.02656404e+07,  1.82055073e+07,  1.11354785e+07,
        3.05497447e+06,  1.66159447e+07,  2.05541164e+07,  4.40861921e+07,
        1.28757564e+07,  3.94268927e+07,  1.95843525e+07,  3.67774850e+07,
        2.05641518e+07,  4.04606135e+07,  1.13261001e+07,  7.15582327e+06,
        7.99995342e+07,  3.61363947e+07,  1.92216971e+07,  2.83178130e+07,
        2.44012085e+07,  4.12903441e+07,  1.46576645e+07,  3.26555262e+07,
        1.16812364e+07,  1.16017119e+06,  8.75323489e+06,  1.09954672e+08,
        3.96327248e+07,  1.49495094e+07,  2.74263197e+07,  3.61292780e+07,
        1.11697597e+07,  2.06095913e+07,  1.83859293e+07,  1.22763242e+07,
        1.95521195e+07,  2.81697852e+08,  9.52144059e+06,  6.70111647e+07,
        1.78160813e+07,  5.43735701e+07,  1.64857590e+07,  1.25152467e+07,
        3.44208986e+07,  8.85238175e+06,  1.63392930e+07,  7.90522533e+06,
        4.48716276e+07,  4.26579861e+07,  4.56191339e+07,  2.40179608e+07,
        1.49640221e+07,  2.10596854e+07,  7.94242069e+07,  3.35243270e+07,
        2.53152062e+07,  4.97458163e+07,  1.43162807e+07,  1.83466503e+07,
        1.16454539e+07,  2.26712595e+07,  2.65043725e+07,  2.30544231e+07,
        2.47285119e+07,  7.35479379e+06,  2.18295630e+07,  1.26821786e+07,
        1.33278045e+07,  2.83540674e+06,  1.38124396e+07,  2.48122621e+07,
        8.33145939e+06,  1.00855916e+07,  1.59615959e+07,  1.14405004e+08,
        1.89032821e+07,  1.20167488e+07,  2.05442257e+07,  6.73715157e+07,
        1.37192813e+07,  1.39904525e+07,  5.15607184e+07,  1.39871911e+07,
        1.44441054e+07,  6.49597466e+07,  2.25379917e+07,  3.05089210e+07,
        1.52564689e+07,  4.74739348e+07,  2.08354040e+07,  2.11183638e+07,
        2.46754293e+07,  2.32727355e+07,  1.95916403e+07,  2.50826552e+07,
        3.81113372e+07,  2.13937762e+07,  2.96796406e+07,  9.42081700e+06,
        1.06810117e+08,  1.48791800e+07,  1.76071683e+07,  2.04116456e+07,
        4.72221615e+07,  2.55048266e+07,  1.92842423e+07,  1.71435303e+07,
        2.29811693e+07,  1.41422844e+07,  1.22838910e+07,  7.24234611e+07,
        1.21528263e+07,  1.52564689e+07,  1.32016095e+07,  3.22134241e+07,
        4.40930380e+07,  1.27622975e+07,  7.54800627e+07,  4.14896943e+07,
        1.08496026e+07,  1.90571266e+07,  3.24559854e+07,  2.47768279e+07,
        3.29477473e+07,  3.67781100e+07,  1.69628001e+07,  4.41362665e+07,
        1.40115158e+07,  1.73851455e+07,  1.50496652e+07,  8.29390896e+07,
        1.40016220e+08,  1.94260942e+07,  2.34975051e+07,  1.02178854e+07,
        2.40947159e+07,  2.90063480e+07,  2.47646240e+07,  1.19800879e+07,
        2.54375849e+07,  5.07482240e+07,  2.30037822e+07,  1.37462321e+07,
        1.25885447e+07,  1.78401353e+07,  1.91411648e+07,  3.44520145e+07,
        1.22868476e+07,  1.55456053e+07,  6.06043573e+07,  3.29565011e+07,
        4.20939690e+07,  1.25031283e+07,  1.10203577e+07,  4.03931952e+06,
        3.37982092e+07,  3.47023149e+07,  1.73803746e+07,  2.87105274e+06,
        1.38727716e+07,  9.91094584e+06,  2.83763736e+07,  2.83271540e+07,
        2.45951356e+07,  1.28848251e+07,  3.16273297e+07,  3.14445471e+07,
        2.07597478e+07,  1.34713186e+07,  2.26902047e+07,  2.17517266e+07,
        4.43295970e+07,  7.02392073e+07,  1.85181551e+07,  3.65731739e+07,
        2.34075088e+07,  1.34790677e+07,  2.41131519e+07,  1.89854402e+07,
        6.21820126e+07,  1.54204887e+07,  2.15080585e+07,  7.60150671e+06,
        3.55635442e+07,  3.33110728e+07,  1.41388483e+07,  3.85235594e+07,
        3.65429262e+07,  2.44287359e+07,  3.01689560e+07, -1.76536423e+06,
        1.48642369e+07,  2.24720399e+07,  2.85336493e+07,  1.23781889e+07,
        6.56726130e+06,  3.22865554e+07,  2.70390194e+06,  1.58485884e+07,
        2.42826065e+07,  3.73502661e+07,  2.90434904e+07,  1.34429274e+07,
        2.41663527e+07,  1.80410822e+07,  1.67181663e+06,  1.89936180e+07,
        1.42490599e+07,  2.39494713e+07,  2.14468110e+07,  1.79207409e+07,
        3.59183955e+07,  7.12600648e+06,  2.34183282e+07,  2.30642026e+07,
        2.03254876e+07,  1.77594229e+07,  1.70981781e+07,  2.72902213e+07,
        3.39233001e+07,  2.00076366e+07,  2.98273440e+07,  2.26371126e+07,
        1.78950974e+07,  1.08998855e+07,  1.04258468e+08,  1.20957838e+08,
        3.25240516e+07,  1.00011093e+07,  1.57169032e+07,  1.58443514e+07,
        1.92551490e+07,  1.68930475e+07,  2.00067386e+07,  2.27897505e+07,
        7.67676834e+06,  8.55209879e+06,  1.87120703e+07,  1.49543889e+07,
        1.89107630e+07,  1.17382098e+07,  6.67050946e+06,  1.35780727e+07,
        1.66571959e+07,  1.33565804e+07,  4.95319452e+07,  1.65220749e+07,
        2.40737192e+07,  1.80861718e+07,  8.60807563e+07,  3.55427992e+07,
        2.39227942e+07,  1.15069444e+07,  1.53390396e+07,  1.46852881e+07,
        1.22058335e+07,  2.70191211e+07,  1.55820845e+07,  4.30888925e+07,
        6.39663271e+07,  1.76698157e+07,  3.01807817e+07,  3.04333079e+06,
        3.38283550e+07,  1.02949289e+07,  9.81927671e+07,  1.50500137e+07,
        7.20044305e+07,  4.68341310e+07,  3.50571896e+07,  1.30961018e+07,
        1.67047559e+06,  1.95544161e+06,  3.78928913e+07,  3.83585799e+07,
        4.67052126e+07,  3.30760354e+07,  1.55616428e+07,  3.74063103e+07,
        5.67048331e+06,  7.01981909e+07,  1.86684241e+07,  6.17696163e+07,
        6.38490458e+06,  2.55742307e+08,  1.07791066e+08,  7.68493508e+07,
        1.47479297e+07,  2.52894935e+07,  1.27433684e+07,  9.66334195e+06,
        2.47708989e+07,  1.20048430e+07,  2.60379488e+07,  2.19131859e+07,
        4.55778374e+06,  1.41807203e+07,  1.58726493e+07,  1.12990659e+08,
        1.08879216e+07,  2.39163113e+07,  2.56357630e+07,  1.28623344e+06,
        3.24652306e+07,  1.25407090e+08,  1.72266880e+07,  2.03275372e+07,
        3.66652497e+07,  1.70238873e+07,  4.61588637e+07,  1.93289297e+07,
        2.45648737e+06,  3.77352823e+07,  2.61185156e+07,  2.90812034e+07,
        6.89625955e+07,  1.37360181e+07,  1.57381244e+07,  1.61641217e+07,
        1.85440743e+07,  1.85082691e+07,  2.26947362e+07,  1.14736391e+07,
        3.52497323e+07,  1.31962299e+07,  3.80432098e+07,  5.06589101e+07,
        3.71773484e+07,  3.41686388e+07,  5.54431713e+07,  2.74460055e+07,
        2.11301042e+07,  1.72669744e+07,  1.08588133e+07,  2.36408975e+07,
        1.23982997e+07,  1.87816671e+07,  2.73440559e+07,  1.19011087e+07,
        2.30263990e+07,  9.68920680e+05,  4.68918438e+07,  1.43787957e+07])

In [55]:
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr2.score(X_test, y_test)}')
lr2.coef_

MAE: 8913302.274406146
MSE: 232875375760818.88
RMSE: 15260254.773784705
MAPE: 0.7001204776302845
R^2: 0.7835561036278091

array([-5.94781402e+02,  5.20524063e+06, -2.08817797e+10, -2.89965106e+10,
       -1.03534677e+09,  2.48822262e+09, -2.78830704e+06,  4.42906755e+08,
       -3.00269584e+08, -2.78852434e+06, -7.79126357e+07, -2.78837880e+06,
       -3.13013637e+08, -2.56352213e+00, -6.96748969e+04, -9.29377290e+04,
        3.06707330e+03,  1.39515314e+03,  2.48038126e+02,  2.91218762e+06,
       -6.25857094e+02,  3.24121492e+02,  1.07759940e+03,  5.03178395e+02,
        6.82642353e+03,  3.17816099e+07,  4.43823521e+08, -2.32114210e+06,
       -2.76532204e+07,  9.94429031e+05, -1.25963321e+10,  5.22853957e+06,
        9.94429047e+05, -7.65042115e+06,  9.94429596e+05,  1.17144768e+07,
        1.18434717e+08,  2.86412661e+07, -3.57582865e+07, -1.87787297e+05,
        3.25445402e+09,  4.91244014e+06, -1.87787237e+05, -1.96342808e+06,
       -1.87797602e+05,  9.77164957e+06, -1.03046468e+06,  6.85602408e+05,
       -1.75346942e+05, -1.00457741e+09,  2.17213498e+06, -1.75347306e+05,
        9.81371884e+04, -1.75347190e+05, -8.21813358e+05,  7.53382747e+05,
        3.19698452e+05,  6.40784313e+08, -1.61708615e+06,  3.19698841e+05,
        8.24532208e+05,  3.19698735e+05, -1.10464531e+06, -8.74671511e+04,
       -2.78838249e+06, -5.80468584e+03, -8.74647600e+04, -1.51490500e+05,
       -8.74660785e+04,  1.21682920e+05,  4.42906633e+08,  1.42637062e+08,
       -2.78838249e+06,  3.64993993e+08, -2.78838249e+06, -3.13013682e+08,
       -3.00269571e+08, -5.80452626e+03, -5.46011777e+05, -5.80486681e+03,
        5.00048145e+05, -8.74658995e+04, -1.51490377e+05, -8.74656609e+04,
        1.21682915e+05,  7.10943719e+05, -1.51490546e+05, -1.43171220e+06,
       -8.74694421e+04,  1.21682672e+05, -3.13013681e+08])

#### Подбор оптимального значения гиперпараметра

In [49]:
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [50]:
ridge_optimal = GridSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.9}

In [51]:
lasso_optimal = GridSearchCV(Lasso(), parameters).fit(X_train, y_train)
lasso_optimal.best_params_

{'alpha': 0.0}

### L1

In [52]:
ridge = Ridge(alpha=0.9).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')
ridge.coef_

MAE: 7928973.313203209
MSE: 194537205826731.84
RMSE: 13947659.510711173
MAPE: 0.6057287479552821
R^2: 0.7759891376175214

array([ 0.00000000e+00,  8.95649053e+06, -7.75732106e+05, -5.51337340e+05,
       -3.44877658e+05,  3.33545344e+06, -1.63597841e+06,  8.22158339e+03,
       -9.74281262e+04, -1.63597841e+06,  9.15307980e+05, -1.63597841e+06,
       -5.45965428e+05, -2.72639326e+00, -7.40559315e+04, -1.03268264e+05,
        3.46223175e+03,  1.16127264e+03,  3.69749154e+02, -2.43556966e+03,
       -2.63160213e+02,  3.69745841e+02,  1.51736697e+03,  3.69745837e+02,
        7.21251646e+03, -6.94889039e+05,  1.45507519e+06,  1.09355675e+06,
       -3.13947851e+07,  1.14587383e+06, -6.49856742e+05,  5.91010999e+06,
        1.14587383e+06, -9.43018938e+06,  1.14587383e+06,  8.21860942e+06,
        4.65411765e+04, -2.72486218e+05,  8.11693556e+06, -2.57763745e+05,
        4.04972761e+04, -1.55240874e+06, -2.57763745e+05,  2.40864063e+06,
       -2.57763738e+05, -2.14430603e+06, -4.28124814e+05, -2.56491369e+05,
       -1.89353214e+05, -3.79472254e+05,  2.53937526e+06, -1.89353214e+05,
        4.48053039e+05, -1.89353214e+05, -1.61132833e+06,  1.02349993e+06,
        2.99575278e+05,  2.77227249e+06, -2.29097917e+06,  2.99575277e+05,
        3.35105751e+05,  2.99575277e+05, -1.16685441e+06, -8.83837002e+04,
       -1.63597841e+06,  3.62832030e+04, -8.83836998e+04, -1.68725561e+05,
       -8.83836998e+04,  2.44885700e+05,  8.22158339e+03, -8.92065428e+04,
       -1.63597841e+06,  9.23529563e+05, -1.63597841e+06, -5.45965428e+05,
       -9.74281262e+04,  3.62832030e+04, -5.38926355e+04,  3.62832030e+04,
        2.83218351e+05, -8.83837002e+04, -1.68725561e+05, -8.83837002e+04,
        2.44885700e+05,  1.10343221e+06, -1.68725561e+05, -1.83908926e+06,
       -8.83836998e+04,  2.44885700e+05, -5.45965428e+05])

### L2

In [53]:
lasso = Lasso(alpha=0.05).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')
lasso.coef_

MAE: 8913302.274406146
MSE: 232875375760818.88
RMSE: 15260254.773784705
MAPE: 0.7001204776302845
R^2: 0.7318424846798306

array([ 0.00000000e+00,  2.65193850e+04, -9.31324239e+07, -9.59311184e+07,
       -3.55946963e+05,  1.37443092e+06, -2.70764792e+04, -4.93577793e+05,
       -1.30434156e+06,  3.16251590e+04,  1.10623062e+06,  1.56626995e+04,
       -1.06404833e+05, -1.96896404e+00, -2.34083393e+03,  6.24837479e+02,
        7.46648926e+02,  3.88639105e+03, -1.71792437e+03, -1.44441623e+04,
       -1.64488275e+03,  1.93870175e+03, -8.28642405e+02,  1.08694973e+02,
        8.84373883e+03,  1.89005486e+06, -7.04487142e+05, -1.93610121e+06,
       -4.66263890e+05,  6.46280897e+04, -3.60065521e+06,  2.50473902e+05,
       -3.58809314e+03, -3.40086701e+05, -4.70684056e+03, -1.40002012e+05,
        2.16854280e+05,  5.12081309e+05,  1.94461115e+04, -1.76840553e+04,
        1.11693831e+06, -4.68537278e+04,  8.23718828e+02,  9.50884230e+04,
        1.34525687e+03, -9.21483104e+04, -7.39044210e+05,  7.68181841e+05,
        7.87313995e+04,  3.43520885e+06,  4.36551701e+06, -3.21427441e+05,
       -5.29310449e+05,  3.43550917e+04, -1.92372803e+06,  6.80102250e+05,
        5.86162433e+05, -3.93540594e+06, -1.03147550e+06,  2.92769766e+05,
        3.19263713e+06, -2.19532081e+05, -3.52620433e+05, -4.85032279e+05,
       -5.44810175e+04, -1.22139943e+06,  6.33236714e+04, -5.72293080e+05,
        1.27393608e+05,  1.92641750e+06,  8.75421630e+06, -5.01474138e+06,
        3.89409939e+04, -5.34028929e+06, -7.41503080e+04,  3.22787296e+06,
       -1.08916892e+06,  1.24723965e+06,  1.45827392e+04, -3.28804613e+03,
        1.71922822e+06, -4.61489484e+04,  2.14366421e+05, -4.77184470e+04,
       -9.11907116e+05,  1.50317180e+05,  1.51389020e+05, -8.41864758e+04,
       -1.85150827e+04, -4.31807338e+04,  5.43095327e+05])

Лучшая модель L1 полиномиальной регрессии: метрика MAPE минимальная, R2 почти самая высокая

### Построение модели

In [53]:
class BestLinLassoModel:
    def __init__(self):
        self.y = np.array([])
        
    def fit(self, X, y, learning_rate = 0.0001, max_iter = 100, alpha = 1.):
        X = np.array(X)
        y = np.array(y)
        self.w = np.array([0 for i in range(X.shape[1])])
        self.w = np.append(self.w, 1)
        for t in range(max_iter):
            grad = np.array([])
            for i in range(X.shape[1]):
                grad = np.append(grad, (X[:, i]*(y - X.dot(self.w[:-1]) - self.w[-1])).sum() + alpha * self.w[i])
            grad = np.append(grad,(y - X.dot(self.w[:-1]) - self.w[-1]).sum() + alpha * self.w[-1])
            w_next = self.w - 2 * grad * learning_rate / len(X)
        self.w = w_next
        print(self.w)
        
    def predict(self, X):
        X = np.array(X)
        self.y = X.dot(self.w[:-1]) + self.w[-1]
        return self.y

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=59)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((5614, 12), (5614,), (624, 12), (624,))

In [55]:
modelka = BestLinLassoModel()
modelka.fit(X_train, y_train)
y_pred = modelka.predict(X_test)

[-8.80052549e+06 -1.02593917e+05 -3.91199592e+05 -1.56055293e+04
 -1.57227473e+04 -5.12937746e+03 -5.36617401e+03 -6.97577817e+02
 -5.12937746e+03 -5.36198663e+03 -5.12937746e+03 -3.72741347e+02
 -5.36834821e+03]

In [56]:
metrics(y_test, y_pred)

MAE: 10491380288.988789
MSE: 1.4824203855747442e+20
RMSE: 12175468720.237198
MAPE: 24.41473259839892
R^2: 0.6981204750982295