# Лабораторная работа 1. Введение в машинное обучение. Обучение с учителем. Задача регрессии

<b>Выполните следующие задания:</b>
- загрузите датасет для регрессии, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку;
- решите задачу регрессии на ваших данных с использованием моделей sklearn (линейная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;
- решите задачу регрессии на ваших данных с использованием моделей sklearn (полиномиальная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;
- вычислите значения метрик $R^2$, MAE, MSE, RMSE, MAPE для всех обученных моделей; выберите лучшую модель;
- самостоятельно реализуйте (желательно в виде класса) модель линейной регрессии с регуляризацией (можете выбрать L1 или L2);
- самостоятельно реализуйте вычисление всех используемых метрик (в виде функций, принимающих два аргумента);
- обучите вашу модель линейной регрессии на ваших данных; оцените качество с помощью реализованных вами метрик.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
from math import sqrt
from sklearn.preprocessing import PolynomialFeatures
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../data/mumbai_houses_task.csv')
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,New Property,0.0,NaN,0.0,Flat
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,New Property,2.0,NaN,2.0,Flat
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,New Property,0.0,Unfurnished,0.0,Flat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,Resale,0.0,Semi-Furnished,0.0,Flat
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,Resale,1.0,Unfurnished,1.0,Flat
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,Flat
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,Resale,0.0,Furnished,0.0,Flat
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,Resale,0.0,NaN,0.0,Flat

## Предобработка данных

In [3]:
data = pd.get_dummies(data, columns=['type_of_building'], drop_first=True, dtype=int) # категориальный признак

In [4]:
data["neworold"] = data["neworold"].map({"Resale": 0, "New Property": 1})

In [5]:
data["Furnished_status"] = data["Furnished_status"].map({"Unfurnished": 0, "Semi-Furnished": 1, "Furnished": 2})
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,1,0.0,NaN,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,1,0.0,NaN,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,1,0.0,NaN,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,1,2.0,NaN,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,0,0.0,NaN,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,0,0.0,NaN,0.0,0

In [6]:
data["Furnished_status"] = data["Furnished_status"].fillna(data["Furnished_status"].median())
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,Under Construction,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,Under Construction,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,Under Construction,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,Ready to Move,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,Ready to Move,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,Ready to Move,0,0.0,1.0,0.0,0

In [7]:
data["Status"] = data["Status"].map({"Ready to Move": 1, "Under Construction": 0})
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,NaN,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [8]:
data["Status"] = data["Status"].fillna(data["Status"].median())
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [9]:
data = data.dropna()
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [10]:
data.drop_duplicates(inplace=True)
data

,price,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,type_of_building_Individual House
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [11]:
data.rename(mapper=str.lower, axis=1, inplace=True)
data

,price,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [12]:
data.isnull().sum()

price                                0
area                                 0
latitude                             0
longitude                            0
bedrooms                             0
bathrooms                            0
balcony                              0
status                               0
neworold                             0
parking                              0
furnished_status                     0
lift                                 0
type_of_building_individual house    0
dtype: int64

In [13]:
data

,price,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
0,22400000.0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,35000000.0,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,31700000.0,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,18700000.0,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,13500000.0,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,19500000.0,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,22000000.0,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,20000000.0,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,11000000.0,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,15000000.0,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

### Вычисление метрик

In [14]:
def metrics(y_test, y_pred):
    print(f'MAE: {np.mean(abs(y_test-y_pred))}')  #средняя абсолютная ошибка
    print(f'MSE: {np.mean(np.square(y_test-y_pred))}') #средняя квадратичная ошибка
    print(f'RMSE: {np.sqrt(np.mean(np.square(y_test-y_pred)))}') #корень из средней квадратичной ошибки
    print(f'MAPE: {sqrt(np.sum(np.abs(y_test - y_pred)/y_test)/np.size(y_test))}') # средняя абсолютная ошибка в процентах
    slope, intercept = np.polyfit(y_test, y_pred, 1)
    r_squared = 1 - (sum((y_pred - (slope * y_test + intercept))**2) / ((len(y_pred) - 1) * np.var(y_pred, ddof=1)))
    print(f'R^2: {r_squared}') # коэффициент детерминации

### Выделение целевого признака и предикторов

In [15]:
y = data["price"]
X = data.drop(["price"], axis=1)

In [16]:
X

,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
0,629.0,19.032800,72.896357,2.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
1,974.0,19.032800,72.896357,3.0,2.0,0.0,0.0,1,0.0,1.0,0.0,0
2,968.0,19.085600,72.909277,3.0,3.0,0.0,0.0,1,0.0,1.0,0.0,0
3,629.0,19.155756,72.846862,2.0,2.0,2.0,1.0,1,2.0,1.0,2.0,0
4,1090.0,19.177555,72.849887,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6250,810.0,19.138320,72.810020,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6251,1400.0,19.221920,72.854250,3.0,3.0,1.0,1.0,0,1.0,0.0,1.0,0
6252,750.0,19.144320,72.824111,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
6253,700.0,19.047201,72.872225,2.0,2.0,0.0,1.0,0,0.0,2.0,0.0,0
6254,900.0,19.168818,72.936375,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0

In [17]:
y

0       22400000.0
1       35000000.0
2       31700000.0
3       18700000.0
4       13500000.0
           ...
6250    19500000.0
6251    22000000.0
6252    20000000.0
6253    11000000.0
6254    15000000.0
Name: price, Length: 6238, dtype: float64

### Разделение данных на обучающую и тестовую выборки

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=61)
#, shuffle = False   random_state=59,

In [19]:
X_train

,area,latitude,longitude,bedrooms,bathrooms,balcony,status,neworold,parking,furnished_status,lift,type_of_building_individual house
5254,2700.0,19.224833,72.836704,4.0,4.0,4.0,1.0,0,4.0,1.0,4.0,0
4585,850.0,19.211040,72.869411,2.0,2.0,0.0,1.0,1,0.0,0.0,0.0,1
282,1715.0,19.119446,72.864410,2.0,2.0,5.0,1.0,0,5.0,2.0,5.0,0
5064,646.0,19.126460,72.859070,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
5297,650.0,19.277014,72.872141,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6195,800.0,19.176718,72.944581,2.0,3.0,0.0,1.0,1,0.0,1.0,0.0,1
2069,600.0,19.209944,72.830872,2.0,2.0,0.0,1.0,1,0.0,2.0,0.0,0
4009,1100.0,19.019738,72.833943,2.0,2.0,0.0,1.0,0,0.0,1.0,0.0,0
3609,990.0,19.174674,72.943104,3.0,3.0,0.0,1.0,0,0.0,2.0,0.0,1
3690,951.0,19.124190,72.830210,3.0,2.0,0.0,1.0,0,0.0,0.0,0.0,0

In [20]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((5614, 12), (5614,), (624, 12), (624,))

### Линейная регрессия (Linear Regression)

Обучение модели на обучающей выборке

In [21]:
lr = LinearRegression().fit(X_train, y_train)

In [22]:
lr.predict(X_test)

array([ 3.97160969e+07,  4.29031930e+07,  1.92762599e+07,  6.08746714e+07,
        2.07391267e+07,  4.55617653e+07,  4.14753378e+07,  2.96017010e+07,
        2.96959675e+06,  6.43322399e+07,  1.50955907e+07,  2.07954735e+07,
        1.57838963e+07,  1.43707385e+07,  6.28930222e+07, -3.37603811e+06,
        1.98649607e+07,  3.96878589e+07,  1.66190960e+07,  2.65998860e+07,
        2.68391900e+07, -1.66943135e+06,  3.19809461e+07,  1.28095951e+07,
        2.49308726e+07,  6.02873674e+07,  3.72262482e+07,  6.61602996e+07,
        1.63235988e+07,  1.23573544e+07,  5.03438292e+06,  3.88955075e+07,
        1.10741238e+07,  4.41375282e+07,  2.03035005e+07,  1.96192992e+07,
        1.91906940e+07,  2.04517366e+07,  1.44186190e+07,  4.79202266e+07,
        4.16698671e+07,  2.32126983e+07,  1.71782255e+07,  3.73613076e+07,
        1.93671115e+07,  5.28901323e+07,  1.14685273e+08,  2.20074960e+07,
        4.78533062e+06,  6.75775413e+07, -6.66439428e+06, -5.72664099e+06,
        2.11614239e+07,  1.77892613e+07,  4.88432394e+07,  2.39275062e+07,
        2.08067155e+07,  2.53807458e+07,  1.93908390e+07,  2.88148161e+07,
       -1.43434371e+06,  4.96562103e+07,  3.85497763e+07,  6.11000553e+06,
        1.41700852e+07,  2.64921152e+07,  1.59252801e+07,  1.15601914e+07,
        1.95541743e+07,  4.89944549e+07,  9.25046779e+06,  3.25040857e+07,
        4.14248155e+07,  3.39374803e+07,  1.39077822e+07,  2.27598220e+07,
        1.12934155e+07,  2.53190726e+07, -7.72130102e+06,  5.93662765e+07,
        5.61687293e+07,  1.20107757e+08,  3.01298523e+07,  2.64577494e+07,
        5.11607605e+07, -1.04682146e+07,  5.37511473e+07,  4.90811479e+07,
        2.35052596e+07,  2.01135152e+07,  1.94872447e+07,  1.85216485e+07,
        2.24645700e+07,  4.21195349e+06,  3.89583689e+07,  3.46542490e+07,
        2.53001393e+07,  3.21405856e+07,  2.92189657e+07,  5.37208741e+07,
        1.33991247e+07,  1.61612488e+07,  7.01249747e+06,  3.05154860e+07,
        2.02221539e+07,  1.04078493e+07,  6.00347176e+07,  5.76195496e+06,
        5.29685028e+07,  4.47817942e+07,  3.01103973e+07,  4.87677947e+06,
        3.11954307e+07,  7.52716480e+06,  1.91016179e+07,  6.15944827e+07,
        6.40682040e+07,  1.12519241e+07,  9.27261577e+06,  2.36768728e+07,
        5.24754958e+07,  3.13014608e+07,  3.11758350e+07,  2.52736836e+07,
        2.51863029e+07,  2.05732150e+07, -1.37850324e+07,  4.03106461e+07,
        5.92908532e+07,  2.95264173e+07,  2.55202700e+06,  2.82221186e+07,
        1.26634110e+07,  7.03425923e+07,  3.31675578e+07,  1.51055248e+07,
        7.17556376e+07,  4.52331180e+07,  3.18587839e+07,  1.05278156e+07,
        1.43722902e+07,  6.05123525e+06,  1.61703064e+07,  4.48396036e+07,
        2.11610043e+06,  2.98715518e+07,  4.32149925e+06,  5.96812715e+07,
        2.11378505e+07,  4.80371528e+06,  2.57870071e+07,  2.46269565e+07,
        1.76347144e+07,  2.54353655e+07,  1.36445501e+07,  6.41914492e+06,
        7.41315044e+07,  1.21299617e+07,  1.47625963e+07,  3.09711148e+07,
       -7.54125243e+06,  4.52946341e+07,  9.97341456e+06,  2.35047525e+07,
        3.88046267e+07,  1.88651644e+07,  3.09704642e+07,  6.26733088e+07,
        1.16914083e+07,  3.92755647e+07,  2.31331858e+07,  1.67478975e+07,
        3.00533758e+07,  1.09680304e+08,  5.10181373e+07, -4.33902083e+05,
        8.18897824e+07,  1.82173902e+07,  1.78376733e+07,  3.34333608e+07,
        5.32653047e+07,  2.01997737e+07,  2.02491502e+07,  3.79828471e+07,
        4.69881769e+07, -4.97895157e+06,  1.11623654e+07,  3.57903511e+06,
        2.46538659e+07,  6.42467425e+07,  1.95445452e+07,  2.12688076e+07,
        2.47621633e+07,  1.88207522e+07,  1.85764801e+07,  6.49142602e+07,
        8.03825256e+06,  2.44069681e+07,  3.56690832e+07,  2.09642006e+07,
        5.68600463e+07,  2.46464497e+07,  1.77050039e+07,  4.49359377e+07,
        1.43992471e+07,  3.94584963e+06,  2.05450576e+07,  2.62654073e+07,
        3.14240845e+07,  1.01667366e+07,  1.75772145e+07,  4.44397503e+07,
        1.35334862e+07,  5.97393568e+07,  1.84141013e+07,  3.04484288e+07,
        4.24770210e+07,  4.59586599e+07,  1.89211460e+07, -8.44530806e+06,
        5.48629419e+07,  1.87446064e+07,  1.62669495e+07,  9.74172432e+06,
        1.34274772e+07, -2.86582034e+05,  3.34540146e+07,  8.47423444e+07,
        5.28013604e+07,  2.31117241e+07,  4.24385563e+07,  1.96003591e+07,
        3.01847137e+07,  2.15732194e+07,  1.42756261e+07,  4.91814427e+07,
        2.84541613e+07,  3.07727334e+07,  3.12967328e+07,  3.52226039e+07,
        2.26531568e+07,  5.78178892e+07,  4.33229409e+07,  2.04019421e+07,
        5.03916772e+07,  5.89621387e+06,  5.79432336e+07,  9.56464645e+06,
        1.97639854e+07,  1.75765550e+07, -3.35456247e+06,  4.28150305e+06,
        2.15833380e+07,  2.25150087e+07,  4.60490089e+06,  2.21527912e+07,
        2.58587315e+07,  2.26598741e+07,  4.69565112e+07,  3.60180040e+07,
        4.94987926e+07,  8.23386723e+06, -2.92659726e+06,  1.28572553e+07,
        2.45630461e+07,  2.39275062e+07,  8.87745091e+06,  1.90965172e+07,
        4.93315257e+06,  3.74873165e+07,  4.17967009e+07,  1.47801359e+07,
        3.04470880e+07,  1.93218430e+07, -7.08232759e+06,  2.70594578e+07,
        8.12301163e+06,  4.68866888e+07,  5.15996951e+07,  8.21058788e+07,
        8.46862253e+06,  2.39959505e+07,  1.85565092e+07,  2.36232668e+07,
        4.49460690e+06,  2.89966517e+07,  3.57234948e+05,  1.95191870e+07,
        2.01956465e+07,  1.58979315e+07,  9.44615854e+07,  3.05968862e+07,
        1.81370580e+07,  1.12074172e+07,  3.71187963e+07,  1.83461821e+07,
        4.29849675e+07,  4.86326088e+07,  3.55437909e+07,  1.22393404e+06,
        2.48628356e+07,  2.03064588e+06,  1.52862755e+07,  6.53676433e+07,
        6.78212799e+06,  2.90695236e+07,  5.08609565e+07,  1.17062930e+07,
        1.48649452e+07,  7.22609551e+07,  4.08859650e+07,  2.60121587e+07,
        5.55615465e+07,  2.24647817e+07,  2.09204807e+07,  6.58501896e+06,
        2.38165807e+07,  5.46240796e+07,  8.92081638e+06,  1.66507155e+07,
        5.47491113e+07,  2.98663221e+06,  5.45313300e+06,  1.28695891e+07,
        2.57308073e+07,  1.52406090e+07,  1.73889736e+07,  2.76523471e+07,
        2.72147632e+07,  1.89665140e+07,  1.46891331e+07,  1.80129459e+07,
        1.22347910e+07,  4.18660313e+07,  1.21987971e+07,  2.58805142e+06,
        1.59239234e+07,  2.76271073e+07,  9.52112558e+06,  2.17095424e+07,
        2.36227247e+07,  5.23622078e+07,  1.72879968e+06,  2.11156629e+07,
        4.76696915e+07, -5.82951209e+06,  1.70944519e+07,  3.86181089e+07,
        5.05661217e+07,  1.36970826e+07,  1.81041697e+07,  4.28882502e+07,
        9.02181399e+06,  4.68626358e+07,  1.40709794e+07,  4.21111674e+07,
        9.03213390e+06,  2.61820581e+07,  1.75323640e+07,  4.32389032e+07,
       -3.06122598e+06, -1.05269741e+07,  2.11136649e+07,  7.86056237e+06,
        6.45886540e+07,  4.72125409e+07,  8.12301163e+06,  8.22544962e+05,
        7.16073327e+07,  1.71059523e+07,  1.84514729e+07,  2.87657312e+07,
        7.18912836e+07,  1.58853030e+07,  3.00302863e+07,  9.80939265e+07,
       -4.13684848e+06,  1.56318446e+07,  9.57549925e+07,  2.47228182e+07,
        1.25276933e+07,  1.53800692e+08,  2.36964146e+07,  2.24911621e+07,
        4.41255088e+07,  8.14266238e+06,  1.39768860e+07,  1.37358558e+07,
        5.47682549e+06,  5.74006852e+07,  2.01749520e+07,  1.88243865e+07,
        5.00576742e+07,  1.21825016e+07,  1.41534437e+07,  2.43955298e+06,
        7.34610176e+06,  2.97716051e+07,  3.82815365e+07, -4.24125002e+06,
        2.31441912e+07,  8.64437811e+06, -4.68033575e+06,  6.73552963e+06,
        5.29196644e+07,  3.13892900e+07,  1.21519561e+07,  2.78437175e+07,
        2.74512399e+07,  1.33178672e+07,  1.72501641e+07,  2.37410116e+07,
        2.47452574e+07,  1.63782024e+07,  1.81396517e+07,  1.96878321e+07,
        2.17412119e+07,  2.14376015e+07,  4.59358669e+06,  1.52019546e+07,
       -4.80703834e+06,  2.76220781e+07,  2.11703353e+06,  4.30891963e+07,
        2.15618869e+07,  4.41963591e+07,  8.46045579e+06,  2.24765965e+07,
        5.26025682e+07,  2.45774290e+07, -1.29140065e+06,  3.14434370e+06,
        2.62878272e+07,  1.87271829e+07,  9.25187366e+06,  2.35485337e+07,
        3.97304892e+07,  1.73427709e+07,  1.74459721e+07,  5.79462530e+07,
        4.23204924e+07,  6.17069638e+07,  8.84644275e+06,  3.15778237e+07,
        2.61678679e+07,  1.35683238e+07,  3.96421351e+07,  2.94882221e+07,
        2.42666565e+07,  2.51774166e+07,  3.16241571e+07,  2.81054855e+07,
        4.09489750e+07,  1.27628450e+07,  3.77119992e+07,  7.11347769e+07,
        2.77652190e+07,  3.06517324e+07,  4.59817142e+07,  1.70392899e+07,
        4.37587774e+07,  4.12900795e+07,  1.95053620e+07,  3.36595015e+07,
        6.14933010e+07,  2.24311375e+07,  1.56668288e+06, -4.83817864e+06,
        2.41345582e+07,  1.49111095e+07,  3.18579695e+07,  2.74577461e+07,
        3.62945548e+07,  5.10541457e+07,  1.51464482e+07,  2.19514143e+07,
        2.24002394e+07,  2.48343893e+07,  2.68347817e+07,  4.96588794e+07,
        4.22555149e+07,  3.62783887e+07,  3.41219831e+07,  9.92684019e+06,
        2.90782956e+07,  2.79574722e+07,  3.43444907e+07,  9.03947074e+06,
        1.93015299e+07,  2.59401683e+07,  1.42479458e+07,  1.15527033e+07,
        5.09980445e+07,  2.93315189e+07,  1.04516666e+08,  2.13483310e+07,
        3.19954718e+07,  1.73262979e+07,  5.04168618e+07,  8.36500348e+07,
        4.19112266e+07,  1.67057217e+07,  3.68814091e+07,  5.99386788e+07,
        2.01430094e+07,  3.15706103e+07,  3.66704956e+07,  3.21397851e+07,
        2.47996930e+07,  4.85856293e+07,  1.70681385e+07,  4.69571155e+07,
        9.15441718e+06,  8.91944441e+07,  4.16387215e+07,  1.47978504e+07,
       -6.21250223e+06,  3.55998052e+07,  2.92000172e+07,  2.26091055e+07,
        2.39707785e+07,  2.11904084e+07,  4.42379710e+07,  3.13836044e+06,
        5.49636331e+07, -3.90461132e+06,  4.82625918e+07,  2.49000360e+07,
        2.04741487e+07,  2.05294455e+07,  1.64701930e+07,  1.86973049e+07,
        3.16771800e+07, -4.00112261e+06,  2.21258143e+07,  3.44721912e+07,
        1.60720218e+08,  1.63641690e+07,  1.27585669e+07,  3.05575093e+07,
        3.59043464e+07,  1.36089156e+08,  2.64274631e+07,  2.97785492e+07,
        6.44325458e+07,  3.80527758e+07,  2.50888518e+07,  2.93132689e+07,
        1.56351160e+07,  1.82636569e+07,  3.70743414e+07,  1.49980715e+07,
        6.37450648e+06,  7.20311471e+06,  3.79337455e+06, -4.38956267e+05,
        2.93868393e+07,  1.37791727e+07,  3.39492581e+07,  3.14053285e+07,
        1.63005734e+07,  2.56136818e+07,  5.89596184e+07,  2.46576409e+07,
        2.66905452e+07,  1.92143955e+07,  2.64060043e+07,  2.71432667e+07,
        5.16793459e+07,  2.08670105e+07,  3.91761136e+07,  7.82775361e+06,
        8.79970457e+06,  2.17910155e+07,  2.68682144e+07,  3.78209055e+07,
        2.96722248e+07,  2.28286483e+07,  6.26526039e+07,  1.13602261e+07,
        9.02765796e+07,  2.06890953e+07,  2.47150219e+07,  6.72326052e+07,
        2.19408630e+07,  2.72827911e+07,  3.55742603e+07,  4.02724057e+07,
        2.41100738e+07,  8.67639387e+06,  7.01137928e+06,  2.99591421e+07,
        5.19623719e+07,  2.30622794e+07,  2.04712790e+07,  1.28192934e+07,
        2.60407477e+07,  1.05577936e+07,  2.20083322e+07,  3.03012014e+07,
        1.75327337e+07,  9.65582820e+06,  3.16249451e+06,  2.46464497e+07,
        1.00944954e+06,  2.16391834e+07,  8.31097093e+07,  7.19981287e+06,
        1.15581559e+07,  3.25044547e+07,  6.47023996e+07,  5.81198103e+07,
        1.53413104e+07,  4.30708445e+07,  2.36948670e+07,  6.43917782e+06,
        1.29117785e+07,  2.41853722e+07,  1.17483292e+07,  1.16372850e+07,
        4.42763196e+07,  8.58068661e+06,  2.25218077e+07,  3.37177290e+07])

Получение предсказания для тестовой выборки

In [23]:
y_pred = lr.predict(X_test)

In [24]:
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr.score(X_test, y_test)}')

MAE: 8695516.334163895
MSE: 199175460250162.7
RMSE: 14112953.633104684
MAPE: 0.6877512220603761
R^2: 0.5946270739633887

In [25]:
metrics(y_test, y_pred)

MAE: 8695516.334163895
MSE: 199175460250162.7
RMSE: 14112953.633104684
MAPE: 0.6877512220603761
R^2: 0.6325264909873296

In [26]:
len(lr.coef_) # коэффициенты в модели (значения весов)
lr.coef_

array([ 2.29777235e+04, -8.20753457e+07, -7.47847185e+07, -3.91875507e+05,
        7.79426085e+06, -8.03397468e+04, -4.29989349e+06,  1.08717265e+05,
       -8.03397468e+04,  1.82809931e+06, -8.03397468e+04, -2.03303588e+05])

#### Регуляризации

### L1

In [27]:
ridge = Ridge(alpha=0.5).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')
ridge.coef_

MAE: 8675332.44237951
MSE: 199061044207919.5
RMSE: 14108899.468346903
MAPE: 0.6856649036691315
R^2: 0.5948599398283472

array([ 2.29937559e+04, -8.13742249e+07, -7.28481756e+07, -4.00996607e+05,
        7.82181264e+06, -8.40450962e+04, -3.69220483e+06,  1.13472421e+05,
       -8.40450962e+04,  1.84510628e+06, -8.40450962e+04, -2.15234516e+05])

#### Подбор оптимального значения гиперпараметра

In [28]:
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [29]:
ridge_optimal = GridSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.1}

### L2

In [30]:
lasso = Lasso(alpha=0.5).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')
lasso.coef_

MAE: 8695514.806515614
MSE: 199175444292299.78
RMSE: 14112953.067742405
MAPE: 0.687751078990807
R^2: 0.5946271064417149

array([ 2.29777236e+04, -8.20753016e+07, -7.47845699e+07, -3.91870787e+05,
        7.79425831e+06, -2.70742060e+05, -4.29895647e+06,  1.08716829e+05,
       -1.35635019e+03,  1.82809921e+06,  3.10780239e+04, -2.03297496e+05])

#### Подбор оптимального значения гиперпараметра

In [31]:
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [32]:
lasso_optimal = GridSearchCV(Lasso(), parameters).fit(X_train, y_train)
lasso_optimal.best_params_

{'alpha': 0.9}

### Полиномиальная регрессия

In [33]:
p = PolynomialFeatures(2)
X_p = p.fit_transform(X) 
X_p

array([[  1.       , 629.       ,  19.0327996, ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 974.       ,  19.0327996, ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 968.       ,  19.0856   , ...,   0.       ,
          0.       ,   0.       ],
       ...,
       [  1.       , 750.       ,  19.1443196, ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 700.       ,  19.0472012, ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 900.       ,  19.1688179, ...,   0.       ,
          0.       ,   0.       ]])

In [34]:
y_p = y.values.reshape(-1, 1)
y_p

array([[22400000.],
       [35000000.],
       [31700000.],
       ...,
       [20000000.],
       [11000000.],
       [15000000.]])

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X_p, y_p, test_size=0.1, random_state=61)

In [36]:
lr2 = LinearRegression().fit(X_p, y_p)
lr2.coef_

array([[-3.88618732e+06,  5.51856901e+06, -2.08427646e+10,
        -3.03665226e+10, -1.09399154e+09,  2.21524597e+09,
        -2.77635823e+06,  4.60293311e+08, -3.04405694e+08,
        -2.77634953e+06, -9.13841944e+07, -2.77636422e+06,
        -2.70266109e+08, -1.26398884e+00, -6.48240698e+04,
        -1.00620723e+05,  1.97422926e+03,  1.54454790e+03,
        -5.76711829e+02,  3.06455667e+06,  2.80154012e+02,
        -2.39248125e+02,  9.47745503e+02,  8.46384346e+02,
         6.28681327e+03,  2.79309827e+07,  4.40059177e+08,
        -2.65627897e+06, -2.89429745e+07,  8.54602163e+05,
        -1.22147764e+10,  4.11017365e+06,  8.54602424e+05,
        -6.89222547e+06,  8.54596368e+05,  1.02414193e+07,
         1.28967957e+08,  3.02585380e+07, -3.14038741e+07,
        -1.51774574e+05,  3.15471625e+09,  5.12641470e+06,
        -1.51774526e+05, -2.03412517e+06, -1.51865095e+05,
         8.39589794e+06, -7.59468673e+05,  1.98835787e+05,
        -3.31134356e+04, -1.05631606e+09,  2.71619863e+06,
        -3.31200753e+04,  3.02827595e+05, -3.31191856e+04,
        -1.13507554e+06,  7.12263016e+05,  2.97816526e+05,
         6.22932705e+08, -1.98789190e+06,  2.97814243e+05,
         7.51787950e+05,  2.97814228e+05, -6.29357951e+05,
        -6.62318714e+04, -2.77636392e+06, -6.45659103e+04,
        -6.62274697e+04, -1.17551566e+05, -6.62287355e+04,
         1.23629721e+05,  4.60293312e+08,  1.55887634e+08,
        -2.77636392e+06,  3.68909116e+08, -2.77636392e+06,
        -2.70266110e+08, -3.04405680e+08, -6.45655703e+04,
        -8.29367751e+05, -6.45663087e+04, -1.61026831e+03,
        -6.62291059e+04, -1.17551677e+05, -6.62341278e+04,
         1.23629368e+05,  6.25159626e+05, -1.17551497e+05,
        -8.52027933e+05, -6.62246107e+04,  1.23630340e+05,
        -2.70266110e+08]])

In [37]:
y_Ppred = lr2.predict(X_test)

In [38]:
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lr2.score(X_test, y_test)}')

MAE: 8695514.806515614
MSE: 199175444292299.78
RMSE: 14112953.067742405
MAPE: 0.687751078990807
R^2: 0.6386876360514491

### L1

In [39]:
ridge = Ridge(alpha=0.5).fit(X_train, y_train)
y_Ppred = ridge.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {ridge.score(X_test, y_test)}')
ridge.coef_

MAE: 8695514.806515614
MSE: 199175444292299.78
RMSE: 14112953.067742405
MAPE: 0.687751078990807
R^2: 0.5826354925893177

array([[ 0.00000000e+00,  9.69800565e+06, -1.47410079e+06,
        -1.06661728e+06, -2.75873782e+06,  4.87322941e+06,
        -3.41348749e+06,  1.70782873e+04, -1.51608226e+04,
        -3.41348749e+06,  1.69122272e+06, -3.41348749e+06,
        -1.04993072e+06, -5.09123853e-01, -8.27452352e+04,
        -1.11256690e+05,  1.17347401e+03,  6.75661671e+02,
        -2.31312872e+02,  6.77042969e+03, -6.59900201e+02,
        -2.31309172e+02,  1.39636787e+03, -2.31309398e+02,
         6.06946164e+03,  2.97625133e+06, -5.47316878e+05,
         5.47517504e+06, -3.00460169e+07,  1.14733166e+06,
        -1.24100209e+06,  4.46469624e+06,  1.14733166e+06,
        -7.42233763e+06,  1.14733166e+06,  7.79475701e+06,
         3.93401817e+05, -1.36518108e+06,  7.74570995e+06,
        -2.12620017e+05,  1.55827843e+05, -1.19320533e+06,
        -2.12620018e+05,  1.83797916e+06, -2.12620020e+05,
        -2.02065928e+06,  2.21774206e+05, -6.86882092e+05,
         7.09776254e+04, -2.81409474e+06,  3.76992887e+06,
         7.09776254e+04,  1.08474111e+06,  7.09776254e+04,
        -1.42720716e+06,  1.22368420e+06,  3.71048695e+05,
         3.16594234e+06, -2.65331259e+06,  3.71048692e+05,
         4.17702862e+05,  3.71048692e+05, -7.92382270e+05,
        -6.87806581e+04, -3.41348749e+06,  3.72275802e+04,
        -6.87806584e+04, -1.40443812e+05, -6.87806584e+04,
         2.42967482e+05,  1.70782873e+04,  1.91746415e+03,
        -3.41348749e+06,  1.70830101e+06, -3.41348749e+06,
        -1.04993072e+06, -1.51608227e+04,  3.72275802e+04,
        -5.67903641e+05,  3.72275802e+04,  2.30445661e+05,
        -6.87806581e+04, -1.40443812e+05, -6.87806581e+04,
         2.42967482e+05,  1.06658437e+06, -1.40443812e+05,
        -1.28173788e+06, -6.87806584e+04,  2.42967482e+05,
        -1.04993072e+06]])

#### Подбор оптимального значения гиперпараметра

In [40]:
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [41]:
ridge_optimal = RandomizedSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.9}

### L2

In [42]:
lasso = Lasso(alpha=0.5).fit(X_train, y_train)
y_Ppred = lasso.predict(X_test)
print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')
print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
print(f'MAPE: {sqrt(mean_absolute_percentage_error(y_test, y_pred))}')
print(f'R^2: {lasso.score(X_test, y_test)}')
lasso.coef_

MAE: 8695514.806515614
MSE: 199175444292299.78
RMSE: 14112953.067742405
MAPE: 0.687751078990807
R^2: 0.6066276396511256

array([ 0.00000000e+00,  2.67284706e+04, -9.44551810e+07, -9.89455084e+07,
       -8.32884924e+05,  1.78639630e+06, -1.02870582e+06,  1.90017734e+06,
       -8.57846757e+05,  1.85388369e+04,  8.80529265e+05,  1.52550419e+04,
       -2.58502463e+05,  1.33672816e-01, -2.79340638e+03,  6.15224808e+02,
       -1.16491536e+03,  4.15867175e+03, -2.38712053e+03, -5.51888326e+03,
        2.50296019e+02,  7.26749252e+02, -1.26136694e+03,  1.63187370e+02,
        6.91239795e+03,  2.00593329e+06, -7.50464523e+05, -1.79221124e+06,
       -4.24803319e+05,  1.77755005e+05, -3.85892149e+06,  9.65909708e+04,
        5.50088709e+02, -2.27166576e+05, -3.85013032e+03, -7.79541257e+04,
        2.39833840e+05,  5.07046063e+05,  2.01255985e+04, -1.38851931e+04,
        1.07959237e+06, -3.51881172e+04,  5.05465727e+02,  7.35794603e+04,
        1.27452863e+03, -7.43402124e+04, -3.31292321e+05,  9.71633117e+04,
        9.86956557e+05,  2.40699762e+06,  3.29045725e+06, -2.27581368e+05,
        1.21037089e+05, -7.35764433e+03, -1.11187764e+06,  5.81383053e+05,
        7.86046701e+05, -3.42583832e+06,  1.86735581e+05,  2.27463620e+05,
        3.51771868e+06, -2.29949764e+05, -4.77693260e+05, -8.98555100e+05,
       -1.27309776e+06, -1.31447078e+06,  3.42628229e+05, -7.77290593e+05,
        1.71216131e+05,  1.56645718e+06,  9.37675299e+06, -5.26268611e+06,
       -9.50465227e+05, -7.61996171e+06, -1.29996767e+05,  1.53941719e+06,
       -1.34076325e+06,  1.18497122e+06, -6.88513471e+05,  1.64448370e+05,
        1.68368518e+06,  1.88945842e+05,  4.43465384e+05, -9.76487442e+04,
       -3.28752979e+05,  1.52240082e+05,  2.62289567e+05,  3.02689928e+05,
       -5.12507320e+04, -1.54644049e+05, -9.17859510e+04])

#### Подбор оптимального значения гиперпараметра

In [43]:
parameters = {'alpha': np.arange(0, 1, 0.1)}

In [44]:
ridge_optimal = GridSearchCV(Ridge(), parameters).fit(X_train, y_train)
ridge_optimal.best_params_

{'alpha': 0.9}

### Построение модели

In [45]:
def printMetrics(y_test, y_pred):
    mae = np.sum(np.abs(y_test - y_pred))/np.size(y_test)
    mse = np.sum((y_test - y_pred)**2)/np.size(y_test)
    rmse = sqrt(mse)
    mape = sqrt(np.sum(np.abs(y_test - y_pred)/y_test)/np.size(y_test))
    r2 = np.corrcoef(y_test, y_pred)[0,1]**2
    print(f'MAE: {mae}')
    print(f'MSE: {mse}')
    print(f'RMSE: {rmse}')
    print(f'MAPE: {mape}')
    print(f'R^2: {r2}')


class LinearRegresion:
        def fit(self, X_train, Y_train):
            self.m, self.n = X.shape
            self.W = np.zeros(self.n)
            self.b = 0
            self.X = X_train
            self.Y = Y_train
            for i in range(3000):
                y_pred = self.predict(self.X)
                dW = (-(2 * (self.X.T).dot(self.Y - y_pred)))/self.m
                db = -2 * np.sum(self.Y - y_pred)/self.m
                self.W = self.W-0.00001*dW
                self.b = self.b-0.00001*db
            return self
    
        def predict(self, X):
            return X.dot(self.W)+self.b
    
    
class Solution:
    data = pd.read_csv('../data/mumbai_houses_task.csv')
    data["Furnished_status"] = data["Furnished_status"].map({"Unfurnished": 0, "Semi-Furnished": 1, "Furnished": 2})
    data["Furnished_status"] = data["Furnished_status"].fillna(data["Furnished_status"].median())
    data["Status"] = data["Status"].map({"Ready to Move": 1, "Under Construction": 0})
    data["Status"] = data["Status"].fillna(data["Status"].median())
    data = data.dropna().drop_duplicates(inplace=True).rename(mapper=str.lower, axis=1, inplace=True)
    data = pd.get_dummies(data['type_of_building'], drop_first=True, dtype=int)
    y = data["price"]
    X = data.drop(["price"], axis=1)
    X_train = None
    y_train = None
    
    def splitTrainTest(self):
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(self.X, self.y, test_size=0.2)
        
    def LinearSolution(self):
        model = LinearRegresion()
        model.fit(self.X_train, self.y_train)
        self.y_pred = model.predict(self.X_test)
        
    def findAlpha(self):
        parameters = {'alpha': np.arange(0.1, 1, 0.1)}
        self.ridge_optimal = GridSearchCV(Ridge(), parameters).fit(self.X_train, self.y_train)
        self.lasso_optimal = GridSearchCV(Lasso(), parameters).fit(self.X_train, self.y_train)
        
    def RidgeLearn(self):
        ridge = Ridge(alpha=0.5).fit(self.X_train, self.y_train)
        self.y_pred = ridge.predict(self.X_test)
        
    def LassoLearn(self):
        lasso = Lasso(alpha=0.5).fit(self.X_train, self.y_train)
        self.y_pred = lasso.predict(self.X_test)
        
    def getPred(self):
        return self.y_pred
    
    def getTest(self):
        return self.y_test

FileNotFoundError: [Errno 2] No such file or directory: '../data/trip_duration_task.csv'

In [ ]:
example = Solution()

In [ ]:
example.splitTrainTest()
example.LinearSolution()